.video {
	padding: 200px 0 100px;
	@include max1000px {
		padding: 100px 0;
	}
	@include max768px {
		padding: 50px 0;
	}
	@include max480px {
		padding: 25px 0;
	}
	&__body {
	}

	&__video-box {
		margin-bottom: 200px;
		position: relative;
		@include max1000px {
			margin-bottom: 100px;
		}
		@include max768px {
			margin-bottom: 50px;
		}
		@include max480px {
			margin-bottom: 25px;
		}
	}

	&__video-poster {
	}

	&__video-link {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.8;
		transition: all 0.3s;
		@include max768px {
			width: 70px;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__numbers {
	}
}
.numbers {
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -5px -50px;
		@include max768px {
			margin: -5px -25px;
		}
	}

	&__item {
	}
}
.numbers-item {
	text-align: center;
	padding: 5px 50px;

	@include max768px {
		padding: 5px 25px;
	}
	& > * + * {
		margin-top: 5px;
	}
	&__number {
		color: $title-color;
		font-weight: 700;
		font-size: 64px;
		line-height: autolh(75, 64);
	}

	&__text {
	}
}
