html,
body {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	line-height: 171%;
	color: $main-color;
	background: $white-color;
	@media (max-width: 480px) {
		font-size: 1rem;
	}
}

/*--- Utility ---*/
.none {
	display: none !important;
}

.visually-hidden {
	// делает элемент скрытым, но он по-прежнему на странице
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}
.hidden {
	opacity: 0;
}

/*--- Grid ---*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: $container-width + 30px;
	padding: 0 15px;
	margin: 0 auto;
}

/*--- Elements ---*/
.no-scroll {
	overflow: hidden;
}

.title {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: autolh(56, 48);
	letter-spacing: 0.6px;
	color: $title-color;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	@include max768px {
		font-size: 35px;
	}
	@include max480px {
		font-size: 22px;
	}

	&::after {
		content: "/";
		display: inline-block;
		position: absolute;
		font-size: 72px;
		color: $hover-color;
		transform: translateY(30px);

		@include max768px {
			transform: translateY(20px);
			font-size: 50px;
		}
		@include max480px {
			transform: translateY(15px);
			font-size: 46px;
		}
	}
}
