.about {
	padding: 188px 0 200px;
	@include max1000px {
		padding: 100px 0;
	}
	@include max768px {
		padding: 50px 0;
	}
	@include max480px {
		padding: 25px 0;
	}
	&__body {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 100px;
			@include max1000px {
				margin-bottom: 70px;
			}
			@include max768px {
				margin-bottom: 50px;
			}
			@include max480px {
				margin-bottom: 25px;
			}
		}
	}

	&__descr {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
		@include max768px {
			margin: -5px;
		}
	}

	&__text {
		flex: 0 1 50%;
		padding: 15px;
		@include max768px {
			flex: 0 1 100%;
			padding: 5px;
		}
	}
}
